[submodule "vendor/metamod"]
	path = vendor/metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "vendor/vendor/tf2sdk"]
	path = vendor/vendor/tf2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = tf2
[submodule "vendor/tf2sdk"]
	path = vendor/tf2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = tf2
